* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
a {
	outline: 0;
	color: inherit;
	font-family: inherit;
	font-weight: inherit;
	text-decoration: none;
}

.wrap {
	width: 100%;
	height: 100vh;
	overflow-y: auto;
	color: var(--baseColor);
	font-family: var(--baseFont);
	background-color: var(--bgColor);
	font-size: var(--bodySize);
	transition: color 1s, background 1s;

	// scrollbar 디자인 변경은, 리액트 단에서 테마변경 이벤트가 발생했을 때 scrollbar 변경 이벤트도 일어나야 되기 때문에, 리액트에서 관리하지 못 하는 html요소의 scrollbar가 아닌, 리액트가 제어할 수 있는 wrap 요소에 스크롤바 생성
	&::-webkit-scrollbar {
		width: 6px;
		background: transparent;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background: var(--pointColor);
	}
}
