@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Orbitron&display=swap');

:root {
	--baseFont: 'Nanum Myeongjo', 'arial', '돋움';
	--pointFont: 'orbitron', 'arial';
	--baseColor: #111;
	--baseColor-code: 18, 18, 18;
	--pointColor: hotpink;
	--bgColor: #efefef;
	--bodySize: 1rem;
	--titSize1: 2.4rem;
	--titSize2: 1.6rem;
	--tablet: 999px;
}

.dark {
	--baseColor: #fff;
	--baseColor-code: 255, 255, 255;
	--bgColor: #222;
}

$tablet: 999px;
