.Gallery {
	--gap: 20px;
	--colNum: 4;
	.frame {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: var(--gap);

		article {
			// 사이간격 고정값 쓰는 경우
			// 각 박스 넓이 값 : 전체 넓이 값에서 사이간격의 총 합 넓이를 빼주고, 다시 컬럼 수만큼 나누어주기.
			// calc((부모넓이값 - 사이간격 * 사이간격 갯수) / 컬럼 갯수;
			width: calc((100% - var(--gap) * (var(--colNum) - 1)) / var(--colNum));
			margin-bottom: 70px;
			border-bottom: 1px solid rgba(var(--baseColor-code), 0.5);

			.pic {
				width: 100%;
				margin-bottom: 10px;

				img {
					width: 100%;
				}
			}
			h2 {
				font-weight: normal;
				font-size: 1rem;
				line-height: 1.2;
				margin-bottom: 10px;
			}
			.profile {
				width: 100%;
				display: flex;
				align-items: flex-end;
				gap: 10px;
				margin-bottom: 20px;

				img {
					width: 40px;
				}
				span {
					color: var(--pointColor);
					font-size: 0.8rem;
				}
			}
		}
	}
}

//laptop ver.
.laptop {
	.Gallery {
		--colNum: 3;
	}
}

// tablet ver.
.tablet {
	.Gallery {
		--colNum: 2;
	}
}

// mobile ver.
.mobile {
	.Gallery {
		--colNum: 1;
	}
}
