.layout {
	width: 70vw;
	margin: 100px auto;
	min-height: 60vw;

	h1 {
		font-size: 5rem;
		font-weight: normal;
		opacity: 0.5;
		margin-bottom: 10px;
	}

	.bar {
		width: 50px;
		height: 1px;
		background: #111;
		opacity: 0.7;
	}
}
