.Layout {
	width: 70vw;
	margin: 100px auto;
	min-height: 60vw;
	opacity: 0;
	transform-origin: left top;
	transform: translateY(200px);
	transition: opacity 0.5s, transform 1s;

	&.on {
		opacity: 1;
		transform: translateY(0px);
	}

	h1 {
		font-size: 0;
		font-weight: normal;
		opacity: 0.5;
		margin-bottom: 10px;

		span {
			font-size: 5rem;
		}
	}

	.bar {
		width: 50px;
		height: 1px;
		background: var(--baseColor);
		opacity: 0.7;
		margin-bottom: 50px;
	}
}
