.Illust {
	width: 100%;
	height: 100vh;
	padding: 10vw;
	overflow: hidden;
	background: lightgreen;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	.svgBox {
		width: 60vh;
		height: 60vh;

		// stroke-dasharray : 해당 path의 빈 칸 비율, 빈칸 비율과 그어진 선의 크기는 동일한 비율로 설정됨.
		// stroke-dashoffset : 가시 영역에서의 stroke이 보여지는 시작 기준점
		path {
			fill: transparent;
			stroke: var(--baseColor);
			stroke-width: 2;
			stroke-dasharray: 1510; // 가시 영역에서의 path의 전체 길이
			stroke-dashoffset: -1510; // 가시 영역에서 선이 시작되는 기준점을 전체 길이만큼 비가시영역으로 보내서, 가시영역에는 빈공간이 보이도록 초기값 설정
			transition: stroke-dashoffset 2s;
		}

		&:hover {
			path {
				// 마우스 호버 시, 기준점을 0으로 변경하면, 오른쪽의 비가시영역에 있던 선이 다시 가시영역으로 들어오게 되면서, 마치 선이 그어지는 것 같은 모션 효과 연출 가능.
				stroke-dashoffset: 0;
			}
		}
	}
}
