.wrap {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.inputBox {
		width: 30%;
		padding-right: 50px;
	}
	.showBox {
		width: 70%;
		padding-left: 50px;
		border-left: 1px solid rgba(var(--baseColor-code), 0.5);
	}
}
