/*
  hover motion 순서 

  [hover in] before 회전 (delay: 0) -> after 회전 (delay: 0.3) -> span 선 생성 (delay: 0.8)

  [hover out] span 선 제거 -> after 회전하며 제거 -> before 회전하며 제거 

  :hover 이전에 설정하는 delay 값 -> hover-out 될 때 적용됨.
  :hover 에 설정하는 delay 값 -> hover-in 될 때 적용됨.
  
*/

.Pics {
	width: 100%;
	height: 100vh;
	background: white;
	position: relative;
	padding: 100px;
	display: flex;
	justify-content: center;
	gap: 50px;
	align-items: center;

	.box {
		width: 300px;
		height: 300px;
		position: relative;
		border: 1px solid #333;
	}

	.box1 {
		&::before,
		&::after,
		span {
			content: '';
			width: 100px;
			height: 1px;
			background: #333;
			position: absolute; // position:absolute; 하면 자동으로 inline-block 화 되므로, 따로 block처리 안 해도 됨.
			top: 50%;
			right: 50px;
			transform-origin: right center;
			opacity: 0;
			transition-property: transform opacity;
			transition-duration: 0.5s;
		}
		&::before {
			transform: rotate(135deg);
			transition-delay: 0.8s;
		}
		&::after {
			transform: rotate(-135deg);
			transition-delay: 0.3s;
		}
		span {
			width: 0;
			transition-property: opacity, width;
			transition-duration: 0.5s;
			transition-delay: 0s;
		}
	}
	.box1:hover {
		&::before,
		&::after,
		span {
			opacity: 1;
		}
		&::before {
			transform: rotate(45deg);
			transition-delay: 0s;
		}
		&::after {
			transform: rotate(-45deg);
			transition-delay: 0.3s;
		}
		span {
			width: 150px;
			transition-delay: 0.8s;
		}
	}
}
