.Header2 {
	width: 70vw;
	padding: 30px 5px;
	border-bottom: 1px solid rgba(var(--baseColor-code), 0.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;

	h1 {
		font-size: var(--titSize1);
	}

	ul {
		display: flex;
		gap: 50px;
		align-items: center;

		li a.on {
			color: var(--pointColor);
			font-weight: bold;
		}
	}

	.menuToggle {
		display: none;
	}
}

.tablet,
.mobile {
	.Header2 {
		width: 80vw;
		ul {
			display: none;
		}
		.menuToggle {
			display: block;
		}
	}
}
